ul.project-list {
  margin-top: 0px;
  margin-left: 0; }
  ul.project-list li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(/images/template/dotted_grey.gif);
    background-repeat: repeat-x;
    background-position: left top; }
    ul.project-list li img {
      width: 45px;
      float: left;
      border: 2px solid #d6d6d6;
      margin-right: 10px;
      margin-bottom: 5px; }
    ul.project-list li a {
      font-size: 12px;
      font-weight: bold; }
    ul.project-list li p {
      margin-top: 10px; }
  ul.project-list li.first {
    padding-top: 0px;
    background: none !important; }
  ul.project-list li.action {
    padding-top: 10px !important;
    text-align: center;
    text-decoration: underline; }
    ul.project-list li.action a {
      color: #313062 !important;
      font-size: 12px !important;
      text-transform: uppercase; }
