#tagcloud .tags {
  color: #313131;
  line-height: 22px;
  padding-left: 15px; }
  #tagcloud .tags a {
    color: #313131; }
  #tagcloud .tags .level-1 a {
    font-size: 1em;
    font-weight: normal; }
  #tagcloud .tags .level-2 a {
    font-size: 1.2em;
    font-weight: normal; }
  #tagcloud .tags .level-3 a {
    font-size: 1.4em;
    font-weight: bold; }
  #tagcloud .tags .level-4 a {
    font-size: 1.6em;
    font-weight: bold; }
  #tagcloud .tags .level-5 a {
    font-size: 1.7em;
    font-weight: bold; }
