- rating_size ||= ""
- detailed ||= false

.ratings
  .ratings-control{:class => rating_size, :title => rating_explain(project)}
    = link_to project.rating_in_halves.to_s, |
                url(:rate_project, project), |
                :class => "rate-init",       |
                :rel => project.id.to_s      |
