#app_form {
  padding-top: 10px;
  margin-left: 4px; }
  #app_form h2 {
    font-size: 16px;
    color: #000000;
    padding-bottom: 10px; }
  #app_form ul li {
    float: left;
    width: 534px;
    padding-bottom: 10px; }
    #app_form ul li label {
      font-size: 12px;
      color: #555;
      display: block;
      padding-bottom: 0px; }
  #app_form ul li.app_form_left {
    width: 277px; }
  #app_form ul li.app_form_right {
    width: 257px; }
  #app_form .field {
    margin: 0; }
    #app_form .field label {
      font-weight: normal;
      padding-bottom: 0; }
    #app_form .field input[type=text], #app_form .field input[type=password] {
      width: 240px;
      color: #666;
      font-size: 12px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      border: 1px solid #aaa;
      padding: 6px 8px 6px 8px; }
    #app_form .field textarea {
      width: 515px;
      height: 120px;
      color: #666;
      font-size: 12px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      border: 1px solid #aaa;
      padding: 6px 8px 6px 8px; }
  #app_form .app_form_sub {
    margin-top: 10px;
    line-height: 30px; }
    #app_form .app_form_sub input {
      vertical-align: middle;
      margin-right: 5px; }
    #app_form .app_form_sub a {
      font-weight: bold;
      color: #000; }
