.mini-form {
  padding-top: 10px; }
  .mini-form .field {
    margin: 0; }
    .mini-form .field input[type=text], .mini-form .field input[type=password] {
      width: 255px;
      margin-right: 10px; }
    .mini-form .field textarea {
      width: 255px;
      height: 60px; }
  .mini-form .check_box {
    padding-top: 15px; }
  .mini-form .actions {
    width: inherit !important;
    margin-top: 15px; }
    .mini-form .actions input, .mini-form .actions img {
      vertical-align: -5px; }
    .mini-form .actions label input {
      vertical-align: -3px; }
